* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.wrapper {
  width: 80vw;
  margin: 0 auto;
  background: #ed985b;
}
.top-header {
  width: 100%;
  height: 100px;
  background-color: black;
  border-bottom: 2px solid #fff;
}
.logo {
  float: left;
  padding: 20px 0 0 0;
}
.logo img {
  height: 70px;
}
.search-area {
  float: right;
  line-height: 100px;
  color: white;
}
.search-area span {
  padding-right: 5px;
}
.search-area > span :last-child {
  display: inline-block;
  vertical-align: middle;
}
.nav-area {
  clear: both;
  width: 100%;
  height: 60px;
  background-color: #a9b800;
}
.nav-menu {
  background: #a9b800;
  height: 50px;
  position: relative;
  font-weight: bold;
  font-family: cursive;
  border-top: 1px solid #fff;
}
.nav-menu ul li {
  float: left;
  width: 161.1px;
  text-align: center;
  line-height: 60px;
  list-style-type: none;
}
.nav-menu li a {
  display: block;
  color: #fff;
  text-decoration: none;
}
.nav-menu li a:hover {
  background: #768600;
}
#submenu ul {
  position: absolute;
  background: #a9b800;
  left: -9999em;
}
#submenu ul li {
  clear: both;
}

#submenu:hover ul {
  left: 322px;
  z-index: 2;
}
.books-wrapper {
  width: 48%;
  display: inline-block;
  padding: 20px 15px;
}
.clearfix {
  clear: both;
}
.image-wrap {
  float: left;
  width: 33%;
}
.image-wrap img {
  width: 150px;
  border: 3px solid red;
}
.book-details {
  float: right;
  width: 62%;
}
.book-details p {
  font-size: 1.2em;
  color: #000;
  line-height: 25px;
}
.book-details .readmore {
  text-decoration: none;
  color: #fff;
  background: #d6005e;
  padding: 12px 15px;
  font-size: 1.2em;
  margin-top: 10px;
}

footer {
  background: #cccccc;
  padding: 10px 0;
  border-top: 1px solid #fff;
}
.social-link {
  float: left;
  width: 35%;
  margin-left: 10px;
}
.social-link p {
  margin-bottom: 5px;
  padding-bottom: 5px;
  width: 30%;
  border-bottom: 1px solid #fff;
}
.social-link ul li {
  list-style-type: none;
  margin: 10px 5px 0 0;
  float: left;
}
.social-link #fb {
  width: 45px;
  height: 46px;
  background: url(graphics/social_sprite.png) 0 0 no-repeat;
  background-position: 0px -46px;
  text-indent: -9999em;
}
.social-link #fb:hover {
  width: 45px;
  height: 46px;
  left: 15px;
  background: url(graphics/social_sprite.png) 0 0 no-repeat;
  background-position: 0px 0px;
}

.social-link #tw {
  width: 45px;
  height: 46px;

  background: url(graphics/social_sprite.png) 0 0 no-repeat;
  background-position: -365px -46px;
}
.social-link #tw:hover {
  width: 45px;
  height: 46px;
  background: url(graphics/social_sprite.png) 0 0 no-repeat;
  background-position: -365px 0px;
}

.social-link #gp {
  width: 45px;
  height: 46px;
  background: url(graphics/social_sprite.png) 0 0 no-repeat;
  background-position: -137px -46px;
}
.social-link #gp:hover {
  width: 45px;
  height: 46px;
  background: url(graphics/social_sprite.png) 0 0 no-repeat;
  background-position: -137px 0px;
}

.social-link #in {
  width: 45px;
  height: 46px;
  background: url(graphics/social_sprite.png) 0 0 no-repeat;
  background-position: -273px -46px;
}
.social-link #in:hover {
  width: 45px;
  height: 46px;
  background: url(graphics/social_sprite.png) 0 0 no-repeat;
  background-position: -273px 0px;
}
.news-letter {
  float: right;
  margin: 20px 10px 0px 0px;
}
.news-letter span {
  font-size: 1.2em;
  font-weight: bold;
  color: #000;
}
.news-letter p {
  width: 100%;
  font-size: 1.2em;
  font-weight: bold;
  border-bottom: 1px solid #fff;
  margin-bottom: 10px;
}
.news-letter input[type="text"] {
  border: 1px solid #000;
  padding: 5px 10px;
}
.news-letter input[type="submit"] {
  padding: 5px 10px;
  border: 1px solid #000;
}
.copy-right {
  padding: 15px 0;
  background: #fff;
  font-size: 1.3em;
}
